<!doctype = html>

<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css" media="screen">
      a.button {
        padding: 5;
        background-color: gray;
        color: white;
        border: 1px solid black;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>